<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="buttons-container" [formGroup]="form">
    <ion-select
      label="Select Lessons"
      label-placement="floating"
      fill="outline"
      formControlName="lessons"
      [multiple]="true"
    >
      <ion-select-option *ngFor="let lesson of lessons" [value]="lesson.id"
        >{{lesson.name}}</ion-select-option
      >
    </ion-select>
    <ion-select
      label="Select Time Period"
      label-placement="floating"
      fill="outline"
      formControlName="timePeriod"
    >
      <ion-select-option *ngFor="let period of timePeriods" [value]="period"
        >{{period}}</ion-select-option
      >
    </ion-select>
  </div>
  <p-chart type="line" [data]="chartData" [options]="options"></p-chart>
</ion-content>
