.page-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
}
