/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.input-container {
  display: grid;
  gap: 2rem;
}

.user-avatar {
  width: 50%;
  height: 50%;
}

.user-name {
  text-align: center;
}

ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

div.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ion-spinner {
  --color: var(--ion-color-primary);
  width: 50px;
  height: 50px;
  z-index: 1000;
  display: none;
}

.item-card {
  --color: #fff;
  width: 60%;
  text-align: center;

  border-radius: 20px;

  ion-card-title,
  ion-card-subtitle {
    --color: #fff;
  }
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.item-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 30px;
}

ion-button > div.button-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

div.add-button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.2rem;
  padding-right: 1rem;
}

div.search-bar-container {
  display: flex;
  padding: 1rem;

  & > ion-searchbar {
    width: 100%;
  }
}

.item-show-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  gap: 30px;
}

.item-show-form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  gap: 50px;
}

.item-card {
  width: 100%;
}

.item-icon {
  display: flex;
  width: 50px;
  height: 50px;
  flex-wrap: wrap;
  align-content: center;
}

ion-card-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

span.card-span {
  font-weight: 500;
  font-size: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.lsp-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;
}
